<div class="top-bar">
   <div class="row">
      <div class="top-bar-left">
         <ul class="menu">
            <li class="menu-text">BusinessContacts</li>
         </ul>
      </div>
      <div class="top-bar-right">
      </div>
   </div>
</div>
<br>

<div class="row">
   <div class="large-6 columns">
      <button class="button" (click)="changeState('add')">Add Business</button>
   </div>
   <div class="large-6 columns">
      <label for=""> Filter Categories
         <select (change)="filterCategory(filteredCategory.value)" #filteredCategory>
            <option value="all">All Categories</option>
            <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
         </select>
      </label>
   </div>
</div>

<div *ngIf="appState == 'add'" class="row">
   <div class="large-12 columns">
      <h3>Add Business</h3>
      <form (ngSubmit)="addBusiness()" #newBusinessForm="ngForm">

         <div class="row">
            <div class="large-6 columns">
               <label>Company
                  <input type="text" name="company" placeholder="Company Name" ngModel>
               </label>
            </div>
            <div class="large-6 columns">
               <label> Category
                  <select name="category" ngModel>
                     <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
                  </select>
               </label>
            </div>
         </div>

         <div class="row">
            <div class="large-6 columns">
               <label>Years in Business
                  <input type="text" placeholder="Years in Business" name="years_in_business" ngModel>
               </label>
            </div>
            <div class="large-6 columns">
               <label>Description
                  <textarea name="description" ngModel></textarea>
               </label>
            </div>
         </div>

         <div class="row">
            <div class="large-6 columns">
               <label>Phone Number
                  <input type="text" placeholder="1-987-555-1234" name="phone" ngModel>
               </label>
            </div>
            <div class="large-6 columns">
               <label>Email
                  <input type="email" placeholder="somebody@example.com" name="email" ngModel>
               </label>
            </div>
         </div>

         <div class="row">
            <div class="large-6 columns">
               <label>Street Address
                  <input type="text" placeholder="123 Elm Street" name="street_address" ngModel>
               </label>
            </div>
            <div class="large-6 columns">
               <label>City
                  <input type="text" placeholder="Springfield" name="city" ngModel>
               </label>
            </div>
         </div>

         <div class="row">
            <div class="large-6 columns">
               <label>Province
                  <input type="text" placeholder="Province" name="state" ngModel>
               </label>
            </div>
            <div class="large-6 columns">
               <label>Postal Code
                  <input type="text" placeholder="Postal Code" name="zipcode" ngModel>
               </label>
            </div>
         </div>

         <div class="row">
            <div class="large-12 columns">
               <button class="button" value="Submit">Submit</button>
            </div>
         </div>
      </form>
   </div>
</div>

<div *ngIf="appState == 'extend'">
   <div class="row">
      <div class="large-12 columns">
         <button (click)="changeState('default')" class="button alert">Go Back</button>
      </div>
   </div>

   <div *ngFor="let business of businesses">
      <div *ngIf="business.$key == activeKey">
         <div class="row">
            <div class="medium-6 large-5 columns large-offset-1">
               <h3>{{business.company}}</h3>
               <p>Category: {{business.category}}</p>
               <p>Years in Business: {{business.years_in_business}}</p>
               <p>{{business.description}}</p>
            </div>
            <div class="medium-6 large-5 columns large-offset-1">
               <h4>Contact Info</h4>
               <ul>
                  <li>Phone: {{business.phone}}</li>
                  <li>Email: {{business.email}}</li>
                  <li>Address: {{business.street_address}} <br>
                     {{business.city}}, {{business.state}} {{business.zipcode}}</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="large-12 columns">
      <div *ngIf="businesses">

         <table>

            <thead>
               <tr>
                  <th>Company</th>
                  <th>Category</th>
                  <th>Phone</th>
                  <th></th>
               </tr>
            </thead>

            <tbody>
               <tr *ngFor="let business of businesses">
                  <td>{{business.company}}</td>
                  <td>{{business.category}}</td>
                  <td>{{business.phone}}</td>
                  <td>
                     <button class="button" (click)="changeState('extend', business.$key)">More</button>
                     <button class="button secondary">Edit</button>
                     <button class="button alert">Delete</button>
                  </td>
               </tr>
            </tbody>

         </table>
      </div>
   </div>
</div>
