<div class="top-bar">
   <div class="row">
      <div class="top-bar-left">
         <ul class="menu">
            <li class="menu-text">BusinessContacts</li>
         </ul>
      </div>
      <div class="top-bar-right">
      </div>
   </div>
</div>
<br>

<div class="row">
   <div class="large-6 columns">
      <button class="button" (click)="changeState('add')">Add Business</button>
   </div>
   <div class="large-6 columns">
      <label for=""> Filter Categories
         <select (change)="filterCategory(filteredCategory.value)" #filteredCategory>
            <option value="all">All Categories</option>
            <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
         </select>
      </label>
   </div>
</div>

<!-- *************** ADD FORM *************** -->
<div *ngIf="appState == 'add'" class="row">
   <div class="large-12 columns">
      <app-new-business
      (notify)='onNotify($event)'
      [categories]='categories'></app-new-business>

   </div>
</div>

<!-- *************** EDIT FORM *************** -->
<div *ngIf="appState == 'edit'" class="row">
   <div class="large-12 columns">
      <app-edit-business
         [activeBusiness]='activeBusiness'
         [activeKey]='activeKey'
         (notify)='onNotify($event)'></app-edit-business>
   </div>
</div>

<!-- *************** BUSINESS DETAILS *************** -->
<div *ngIf="appState == 'extend'">
   <app-business-details
      [businesses]="businesses"
      [activeKey]='activeKey'></app-business-details>
</div>

<!-- *************** BUSINESS LIST *************** -->
<div class="row">
   <div class="large-12 columns">
      <div *ngIf="businesses">

         <table>

            <thead>
               <tr>
                  <th>Company</th>
                  <th>Category</th>
                  <th>Phone</th>
                  <th></th>
               </tr>
            </thead>

            <tbody>
               <tr *ngFor="let business of businesses">
                  <td>{{business.company}}</td>
                  <td>{{business.category}}</td>
                  <td>{{business.phone}}</td>
                  <td>
                     <button class="button" (click)="changeState('extend', business.$key)">More</button>
                     <button class="button secondary" (click)="showEdit(business)">Edit</button>
                     <button class="button alert" (click)="deleteBusiness(business.$key)">Delete</button>
                  </td>
               </tr>
            </tbody>

         </table>
      </div>
   </div>
</div>
